<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065589913548-vgm1nu8oev6b6mstpgrq8octmdp361ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065589913548-vgm1nu8oev6b6mstpgrq8octmdp361ka</string>
	<key>API_KEY</key>
	<string>AIzaSyBiwIL36lPjMNCsAXkRa-CceJlUkV6Se1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1065589913548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodtelligence.foodtelligence.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodtelligencev0</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtelligencev0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065589913548:ios:8fa329d3dc87656dc5cf69</string>
</dict>
</plist>